p {
	font-family: courier;
}
h6 {
	border: 5px solid red;
	padding: 30px;
	margin: 50px;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
body {
	background-image: url('marie.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
